*.pyc
.DS_Store
/sent
/old_202405
/datasets
/euler
/results
/.venv
__pycache__/
.pytest_cache/
/datasets/turkevs2022on-main/
/datasets/meshes/
/datasets/reconstruction.ply
/datasets/turkevs/
/datasets/turkevs_old_pkl/
/unused/
